body {
    background-color: hsl(212, 45%, 89%);
}

img {
   display: block;
   margin-left: 31.25rem;
   margin-top: 5rem;
   width: 15.625rem;
   position: relative;
   right: 30.3125rem;
   top: 0.625rem;

}

div {
    background-color: hsl(0, 0%, 100%);
    width: 17.5rem;
    height: 28.125rem;
    display: block;
    margin-left: 37.5rem;
    margin-top: 3.75rem;
    border-radius: 1.5625rem;

}

h2 {
    text-align: center;
    color:  hsl(218, 44%, 22%);
   
}

h5 {
    text-align: center;
    color: hsl(220, 15%, 55%);
}

